In [16]:
import pandas as pd

In [17]:
data= pd.read_excel("Downloads/Terrenos-en-venta-2020 argentina.xlsx")
data

       PRECIOUSD  PRECIOPESO  DOLARM2  PESOSM2
0         150000    12000000      790    63158
1         230000    18400000      950    76033
2         265000    21200000     1256   100474
3         300000    24000000      938    75000
4         305000    24400000     1220    97600
...          ...         ...      ...      ...
10296     430000    27412500     2886   183976
10297     790000    50362500     1580   100725
10298     690000    43987500      895    57052
10299     800000    51000000     1956   124694
10300     495000    31680000     1768   113143

[10301 rows x 4 columns]

In [18]:
data.shape

(10301, 4)

In [21]:
colnames = data.columns.values.tolist()
predictors = colnames[:3]
target = colnames[3]
X = data[predictors]
Y = data[target]

In [22]:
from sklearn.tree import DecisionTreeRegressor

In [23]:
regtree = DecisionTreeRegressor(min_samples_split=30, min_samples_leaf=10, max_depth=5, random_state=0)

In [24]:
regtree.fit(X,Y)

DecisionTreeRegressor(max_depth=5, min_samples_leaf=10, min_samples_split=30,
                      random_state=0)

In [25]:
preds = regtree.predict(data[predictors])

In [26]:
data["preds"] = preds

In [28]:
data[["preds", "PESOSM2"]]

               preds  PESOSM2
0       47717.192678    63158
1       60803.026490    76033
2       85178.685675   100474
3       60803.026490    75000
4       85178.685675    97600
...              ...      ...
10296  187258.051867   183976
10297  107359.992604   100725
10298   60803.026490    57052
10299  129490.828283   124694
10300  118186.645669   113143

[10301 rows x 2 columns]